  <!-- Partners-->
  <section class="projects-section bg-light" id="projects">
     
    <div class="container">
        <div class="alert alert-primary">Login Successfully</div>
        <h2>Welcome User,</h2><br/>
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <h4 class="text-uppercase m-0">Upcoming Event</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <h4 class="text-uppercase m-0">Event History</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <h4 class="text-uppercase m-0">Payment Info</h4>
                    </div>
                </div>
            </div>
           
        </div>
        </div>
  </section>
